# Исключаем временные файлы Python
__pycache__/
*.pyc

# Исключаем виртуальное окружение
.venv/
venv/
env/

# Исключаем файлы IDE
.idea/
.vscode/

# Исключаем собранные .exe файлы
dist/
build/
*.spec
KaspiDonationsAgent.exe

# САМОЕ ВАЖНОЕ: Исключаем папку с локальной базой данных
# Это предотвратит загрузку старой БД в репозиторий.
kaspi_donation_service/instance/

